* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
}
  

img{
    max-width: 100%;
    margin: 20px;
    display: block;
    justify-content: center;
}

.header{
   display: grid;
   grid-template-columns: max-content max-content;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;

}

nav a {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.hero h1 {
        font-family: "Instrument Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
      }


.index .grid{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px auto;
    justify-items: center;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;

 }

 .projet-large{
   background-color: rgb(255, 255, 255);
   grid-column: span 2;

 }
